{% extends 'base.html.twig' %}

{% block title %}{{ seo.getTitle() }}{% endblock %}
{% block description %}{{ seo.getDescription() }}{% endblock %}
{% block keywords %}{{ seo.getKeywords() }}{% endblock %}

{% block stylesheets %}
    {% stylesheets '@WordBundle/Resources/public/css/*' filter='cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-6">
            <h1> <span class="label label-default">{{ a|upper }}</span> | {% trans %}Технічний словник англійської мови{% endtrans %}</h1>
        </div>
	<div class="col-md-6">
		<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- city -->
<ins class="adsbygoogle"
     style="display:inline-block;width:100%;height:90px"
     data-ad-client="ca-pub-6448372095392587"
     data-ad-slot="2109205753"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
	</div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            {% for a in alphabet %}
                <a class="btn btn-primary" type="button" href="/voc/tech-ukrainian/{{ a|lower }}">{{ a }}</a>
            {% endfor %}
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <hr>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <noindex><b>Для пошука на сторінці, натисніть </b><kbd><kbd>ctrl</kbd> + <kbd>f</kbd></kbd></noindex>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <hr>
        </div>
    </div>
    <div class="row">
        {% for w in words %}
        <div class="col-md-3">
            <b>{{ w.word }}</b> - {{ w.translate }}
        </div>
        {% endfor %}
    </div>

{% endblock %}
