{% extends 'base.html.twig' %}

{% block stylesheets %}
    {% stylesheets '@WordBundle/Resources/public/css/*' filter='cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            <h1>{% trans %}ru-en{% endtrans %}</h1>
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="row">
            {% for w in words %}
                <div class="col-md-3">
                <a href="/word/{{ w.translate | lower | replace({' ' : '_'}) }}">{{ w.translate | capitalize }}</a>

                    {{ w.transcription | raw }}

                    - {{ w.word | lower }}


                </div>
            {% endfor %}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
        {% for a in alphabet %}
            <a class="btn btn-primary" type="button" href="/dictionary/{{ lang }}/{{ a|lower }}">{{ a }}</a>
        {% endfor %}
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <h2>{% trans %}Notices{% endtrans %}</h2>
            <div class="row">
                <div class="col-md-12">
                    <hr>
                </div>
            </div>
            <div class="row">
                {% for notice in notices %}
                    <div class="col-md-6">
                        {% include 'WordBundle:Note:notices.html.twig' with {'notice': notice} %}
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="col-md-3">
            <div class="row">
                <div class="col-md-12">

                    <a href="/notice" type="button" class="category-btn btn btn-info">All</a>
                    {% for c in categories %}
                        <a href="/notice?category={{ c.id }}" type="button" class="category-btn btn btn-info"><span class="glyphicon glyphicon-th" aria-hidden="true"></span>&nbsp;{{ c.name }}</a>
                    {% endfor %}
                </div>
            </div>

<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- company_bigwidth -->
<ins class="adsbygoogle"
     style="display:inline-block;width:300px;height:600px"
     data-ad-client="ca-pub-6448372095392587"
     data-ad-slot="9632472551"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
        </div>

        <div class="col-md-3">
            <h2>{% trans %}Videos{% endtrans %}</h2>
            <div class="row">
                <div class="col-md-12">
                    <hr>
                </div>
            </div>
            <div class="row">
                {% for notice in videos %}
                    <div class="col-md-12">
                        {% include 'WordBundle:Note:notices.html.twig' with {'notice': notice} %}
                    </div>
                {% endfor %}
            </div>
        </div>

    </div>



{% endblock %}
