{% extends 'base.html.twig' %}

{% block javascripts %}
    {% javascripts '@WordBundle/Resources/public/js/*/*/*.js' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}

    {% javascripts '@WordBundle/Resources/public/js/talk/*.js' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block stylesheets %}
    {% stylesheets '@WordBundle/Resources/public/css/*' filter='cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block body %}
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>

    <div class="row">
        <div class="col-md-8">
            <h1>{% trans %}ru-en{% endtrans %}</h1>
        </div>
        <div class="col-md-4">
            <blockquote>{% trans %}main-page-learn-english{% endtrans %}</blockquote>

        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="row">
            {% for w in words %}
                <div class="col-md-3 page-list">

                    <a class="list-word" image="{{ w.image }}" href="/word/{{ w.translate | lower | replace({' ' : '_'}) }}">{{ w.translate | capitalize }}</a>

                    {{ w.transcription | raw }}

                    - {{ w.word | lower }}

                    <span style="cursor:pointer; position: relative; top:4px;" class="glyphicon glyphicon-volume-up talk" text="{{ w.translate | capitalize }}" aria-hidden="true"></span>

                    <a style="font-size:10px" onclick='var newWin = window.open("https://translate.google.com/#en/ru/{{ w.translate | lower }}",
                            "JSSite",
                            "width=800,height=auto,resizable=yes,scrollbars=yes,status=yes"
                            )

                            newWin.focus()
                            ' id="gtranslate-btn" type="button" class="btn btn-primary btn-xs"><span class="glyphicon glyphicon-new-window" aria-hidden="true"></span></a>


                </div>
            {% endfor %}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-10">
        <!--<iframe src="/mp3/655549fcf09f8443d789424e001ec753.mp3"></iframe>-->
        </div>
        <div class="col-md-2">
            <br>
            Learn 30 words everyday
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
        {% for a in alphabet %}
            <a class="btn btn-primary" type="button" href="/dictionary/{{ lang }}/{{ a|lower }}">{{ a }}</a>
        {% endfor %}
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <h2>{% trans %}Notices{% endtrans %}</h2>
            <div class="row">
                <div class="col-md-12">
                    <hr>
                </div>
            </div>
            <div class="row">
                {% for notice in notices %}
                    <div class="col-md-6">
                        {% include 'WordBundle:Note:notices.html.twig' with {'notice': notice} %}
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="col-md-3">
            <div class="row">
                <div class="col-md-12">

                    <a href="/notice" type="button" class="category-btn btn btn-info">All</a>
                    {% for c in categories %}
                        <a href="/notice?category={{ c.id }}" type="button" class="category-btn btn btn-info"><span class="glyphicon glyphicon-th" aria-hidden="true"></span>&nbsp;{{ c.name }}</a>
                    {% endfor %}
                </div>
            </div>

<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- company_bigwidth -->
<ins class="adsbygoogle"
     style="display:inline-block;width:300px;height:600px"
     data-ad-client="ca-pub-6448372095392587"
     data-ad-slot="9632472551"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
        </div>

        <div class="col-md-3">
            <h2>{% trans %}Videos{% endtrans %}</h2>
            <div class="row">
                <div class="col-md-12">
                    <hr>
                </div>
            </div>
            <div class="row">
                {% for notice in videos %}
                    <div class="col-md-12">
                        {% include 'WordBundle:Note:notices.html.twig' with {'notice': notice} %}
                    </div>
                {% endfor %}
            </div>
        </div>

    </div>

<script>
    $(function(){

        $( document ).tooltip({
            items: "a.list-word",
            content: function() {
                var element = $( this );
                    var text = element.attr('image');
                    return "<img width='250px' alt='" + text +
                            "' src='http://learn.lviniy-web.org/Upload/" +

                            text + "'>";

            }
        });
    })
</script>

{% endblock %}
